/*Universal Styling*/
html {
    font-family: 'Courier New', Courier, monospace;
}
h3 {
    text-align: center;
}
.btnPosition{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Styling the button*/
button {
    width: 100px;
    height: 50px;

}